
<ng-template [ngIf]="!readArticle">
    <!--Section: Magazine v.1-->                            
        <div class="row wow fadeInUp" data-wow-delay="0.4s">

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12"  *ngFor="let i of firstNews">

              <!-- Featured news -->
              <div class="single-news mb-lg-0 mb-4">

                <!-- Image -->
                <div class="overlay rounded z-depth-1-half mb-4" *ngIf="i.news_lead_img!=''">
                  <img class="img-fluid" src="{{i.news_lead_img}}"  alt="Sample image" style="width:100%; height: 185px;">
                  <a>
                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                  </a>
                </div>

                <!-- Data -->
                <div class="news-data d-flex justify-content-between">
                  <p class="font-weight-bold dark-grey-text"><i class="far fa-clock pr-2"></i>{{i.news_pub_date}}</p>
                </div>

                <!-- Excerpt -->
                <h3 class="dark-grey-text" style="margin-top:-80px;" (click)="newsContent.show()" (click)="showArticle(i.news_id)">
                  <a>{{i.news_name}}</a>
                </h3>
                <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4" [innerHtml]="i.news_lead"></p>

              </div>
              <!-- Featured news -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12">

              <!-- Small news -->
              <div class="single-news mb-4" *ngFor="let i of newsList| paginate: { itemsPerPage: 4, currentPage:  page }">

              
                <div class="row">

             
                  <div class="col-md-3">

                
                    <div class="overlay rounded z-depth-1 mb-4" *ngIf="i.news_lead_img!=''">
                      <img class="img-fluid" src="i.news_lead_img" alt="Sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                      </a>
                    </div>

                  </div>

                  <div class="col-md-9">

  
                    <p class="font-weight-bold dark-grey-text">{{i.news_pub_date}}</p>
                    <div class="d-flex justify-content-between">
                      <div class="col-11 text-truncate pl-0 mb-3">
                        <a href="#!" class="dark-grey-text" (click)="newsContent.show()" (click)="showArticle(i.news_id)">{{i.news_name}}</a>
                      </div>
                      <a>
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>

                  </div>
    

                </div>
                <!-- Grid row -->

              </div>

                <pagination-controls (pageChange)="page = pageChanged($event)"  directionLinks="true"  previousLabel="poprz." nextLabel="nast." autoHide="true" class="pagination" style="widtH:100%; margin: auto;"> </pagination-controls>
            </div>
            <!--Grid column-->

          </div>
</ng-template>
    <!--/Section: Magazine v.1-->
                     
               
<div mdbModal #newsContent="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-notify modal-info modal-lg role document" >
     <div class="modal-content" style="height:100vh; overflow-x: auto">
         <div class="modal-header d-flex justify-content-center">
            <p class="heading">{{news.news_name}}</p>
             <button type="button" class="close heading" data-dismiss="modal" aria-label="Close" (click)="newsContent.hide()">
                  <span aria-hidden="true">&times;</span>
             </button>
          </div>
         
         <div class="modal-body" style="height:600px; overflow-y: scroll;"> 
             <div class="row">
                <div class="col-md-3" *ngIf="news.news_lead_img!=''">
                    <div mdbRippleRadius class="overlay rounded z-depth-1 mb-4">
                        <img src="{{news.news_lead_img}}" alt="Minor sample post image">
                    </div>
                </div>

                        <!--Excerpt-->
                <div class="col-md-9">
                    <p><strong>{{news.news_pub_date}}</strong></p>
                    <div [innerHTML]="news.news_lead"></div>
                </div>    
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div [innerHTML]="news.news_content"></div>
                </div>
            </div> 
         </div>
        <div class="modal-footer justify-content-center">
            <button mdbBtn outline="true" class="btn btn-danger waves-light" mdbWavesEffect data-dismiss="modal" (click)="newsContent.hide()">Zamknij</button>
        </div>
    </div>

    </div>
</div>
            