<!--Section: Contact v.2-->
<mdb-card>
<mdb-card-body>   
    
<form [formGroup]="cform" (ngSubmit)="send(cform.value)">
    
            <!--Header-->
                  <div class="form-header blue accent-1">
                    <h3>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i> Napisz do nas:</h3>
                  </div>

                  <!--Body-->
                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input mdbActive type="text" id="form3" class="form-control" formControlName="name" >
                    <label for="form3">Twoje imię</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input mdbActive type="email" id="form2" class="form-control" formControlName="email">
                    <label for="form2">Twój email</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input mdbActive type="text" id="form32" class="form-control" formControlName="subject">
                    <label for="form34">Temat</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea mdbActive type="text" id="form8" class="md-textarea" formControlName="message"></textarea>
                    <label for="form8">Wiadomość</label>
                  </div>

                  <div class="text-center">
                    <button  color="light-blue" class="btn o-button--primary" mdbWavesEffect [disabled]="!cform.valid">Wyślij</button>
                  </div>
        </form>
<!--Section: Contact v.2-->
</mdb-card-body>
</mdb-card>