<!--Section: Contact v.2-->
<section class="section">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4">Kontakt</h2>
   
    <div class="row">

        <!--Grid column-->
        <div class="col-md-8 col-xl-9">
            <form (ngSubmit)="send(cform.value)" [formGroup]="cform">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <div class="md-form">
                                <input mdbActive type="text" id="contact-name" class="form-control" formControlName="name">
                                <label for="contact-name" class="">Imię</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <div class="md-form">
                                <input mdbActive type="text" id="contact-email" class="form-control" formControlName="email">
                                <label for="contact-email" class="">Email</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input mdbActive type="text" id="contact-Subject" class="form-control" formControlName="subject">
                            <label for="contact-Subject" class="">Temat</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea mdbActive type="text" id="contact-message" class="md-textarea" formControlName="message"></textarea>
                            <label for="contact-message">Wiadomość</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="center-on-small-only">
                    <button class="btn btn-outline-success btn-rounded waves-effect" mdbRippleRadius type="submit">Wyślij</button>
                </div>
            </form>

            
        </div>
        <!--Grid column-->

       <!--Grid column-->
                            <div class="col-md-4 col-xl-3">
                                  <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
                        <div class="col-lg-12 col-md-12 mb-r">

                            <div class="avatar">
                                <img src="../../assets/img/thumbnail_144x144.jpeg" class="rounded-circle z-depth-1" alt="First sample avatar image">
                            </div>
                            <h4 style="margin-top:20px;">Jakub Kumięga</h4>
                            <h6 class="font-bold blue-text">Web Designer</h6>
                                        <!--Facebook-->
                            <a href="https://www.facebook.com/jakub.kumiega" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--Twitter-->
                            <a href="https://twitter.com/JKumiga?lang=pl" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                            <!--Instagram-->
                            <a href="https://www.instagram.com/kubakumiega/" class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                               
                                <ul class="contact-icons">
                                    <li><i class="fa fa-phone fa-2x"></i>
                                        <p>+ 48 723 080 368</p>
                                    </li>

                                    <li><i class="fa fa-envelope fa-2x"></i>
                                        <p>j.kumiega@icloud.com</p>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

    </div>

</section> 
<!--Section: Contact v.2-->