#klepsydra{
    background-color: #111111;
    position: absolute;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    padding-top: 30%;
    text-align: center;
    display: none;
    z-index: 10000;
}